<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>show all users</title>
</head>
<body>
<table >
	#foreach($user in $userList)
        <tr>
            <td >$user.name</td>
            <td >$user.age</td>
        </tr>
	#end
</table>
</body>
</html>