<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>注册</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/register" method="post" class="form-horizontal">
	<div class="form-group">
		<label for="username" class="control-label col-md-2">用户名</label>
		<div class="col-md-10">
            <input type="text" id="username" name="username" class="form-control" placeholder="用户名">
		</div>
	</div>
	<div class="form-group">
        <label for="password" class="control-label">密码</label>
		<div class="col-md-10">
            <input type="password" id="password" name="password" class="form-control">
		</div>
	</div>
	<div class="form-group">
        <label for="password_repeat" class="control-label">重复密码</label>
		<div class="col-md-10">
            <input type="password" id="password_repeat" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10 col-md-offset-2">
            <button class="btn btn-primary" type="submit">注册</button>
		</div>
	</div>
</form>
</body>
</html>